# Pharmaceutical multiple stores Customer Exploration

In [1]:
import pandas as pd
import numpy as np
import dvc.api
import seaborn as sns
import matplotlib.pyplot as plt
import logging
import mlflow

In [2]:
#Create and configure logger
logging.basicConfig(filename="newfile.log",
                    format='%(asctime)s %(message)s',
                    filemode='w')

In [3]:
#Creating an object
logger=logging.getLogger()

In [4]:
mlflow.set_experiment('Cusotmer_Exp')

In [5]:
path = ['data/store.csv', 'data/train.csv', 'data/test.csv']
version = ['store_v1', 'train_v1', 'test_v1']

In [6]:
    repo = '/home/michael/Pharmaceutical-Sales-prediction-across-multiple-stores'
    data_url = dvc.api.get_url(
        path = path[0],
        repo = repo,
        rev=version[0]
        )
    data_url2 = dvc.api.get_url(
        path = path[1],
        repo = repo,
        rev=version[1]
        )
    data_url3 = dvc.api.get_url(
        path = path[2],
        repo = repo,
        rev=version[2]
        )

    df_store = pd.read_csv(data_url)
    df_train = pd.read_csv(data_url2)
    df_test = pd.read_csv(data_url3)

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [7]:
df_store.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

In [8]:
df_train.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [9]:
df_test.head()

   Id  Store  DayOfWeek        Date  Open  Promo StateHoliday  SchoolHoliday
0   1      1          4  2015-09-17   1.0      1            0              0
1   2      3          4  2015-09-17   1.0      1            0              0
2   3      7          4  2015-09-17   1.0      1            0              0
3   4      8          4  2015-09-17   1.0      1            0              0
4   5      9          4  2015-09-17   1.0      1            0              0

In [10]:
df_train.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [11]:
df_train['Date'] = pd.to_datetime(df_train['Date'])

In [12]:
len(df_train)

1017209

In [13]:
# Log data params
mlflow.log_param('data_url Store', data_url)
mlflow.log_param('data_version Store', version[0])
mlflow.log_param('input_rows Store', df_store.shape[0])
mlflow.log_param('input_cols Store', df_store.shape[1])

mlflow.log_param('data_url Train', data_url2)
mlflow.log_param('data_version Train', version[1])
mlflow.log_param('input_rows Train', df_train.shape[0])
mlflow.log_param('input_cols Train', df_train.shape[1])

mlflow.log_param('data_url Test', data_url3)
mlflow.log_param('data_version Test', version[2])
mlflow.log_param('input_rows Test', df_test.shape[0])
mlflow.log_param('input_cols Test', df_test.shape[1])

In [14]:
#!mlflow ui

[2021-07-28 17:35:43 +0300] [29497] [INFO] Starting gunicorn 20.1.0
[2021-07-28 17:35:43 +0300] [29497] [INFO] Listening at: http://127.0.0.1:5000 (29497)
[2021-07-28 17:35:43 +0300] [29497] [INFO] Using worker: sync
[2021-07-28 17:35:43 +0300] [29500] [INFO] Booting worker with pid: 29500
^C
[2021-07-28 17:41:22 +0300] [29497] [INFO] Handling signal: int
[2021-07-28 17:41:22 +0300] [29500] [INFO] Worker exiting (pid: 29500)

In [15]:
# Creating a year, month and day columns on df_train dataset
df_train['Year'] = df_train['Date'].dt.year
df_train['Month'] = df_train['Date'].dt.month
df_train['Day'] = df_train['Date'].dt.day
df_train['WeekOftheYear'] = df_train['Date'].dt.weekofyear

<ipython-input-15-667405014bab>:4: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  df_train['WeekOftheYear'] = df_train['Date'].dt.weekofyear

In [16]:
df_train.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Year,Month,Day,WeekOftheYear
0,1,5,2015-07-31,5263,555,1,1,0,1,2015,7,31,31
1,2,5,2015-07-31,6064,625,1,1,0,1,2015,7,31,31
2,3,5,2015-07-31,8314,821,1,1,0,1,2015,7,31,31
3,4,5,2015-07-31,13995,1498,1,1,0,1,2015,7,31,31
4,5,5,2015-07-31,4822,559,1,1,0,1,2015,7,31,31

In [22]:
# Checking for null values
df_train.isnull().sum()

Store            0
DayOfWeek        0
Date             0
Sales            0
Customers        0
Open             0
Promo            0
StateHoliday     0
SchoolHoliday    0
Year             0
Month            0
Day              0
WeekOftheYear    0
dtype: int64

In [18]:
# checking for null values
df_test.isnull().sum()

Id                0
Store             0
DayOfWeek         0
Date              0
Open             11
Promo             0
StateHoliday      0
SchoolHoliday     0
dtype: int64

In [19]:
# checking for null values
df_store.isnull().sum()

Store                          0
StoreType                      0
Assortment                     0
CompetitionDistance            3
CompetitionOpenSinceMonth    354
CompetitionOpenSinceYear     354
Promo2                         0
Promo2SinceWeek              544
Promo2SinceYear              544
PromoInterval                544
dtype: int64

In [20]:
len(df_store)

1115

In [23]:
# impute the missing value in store data and checking if there is any left
df_test['Open'].fillna(df_test['Open'].mode, inplace = True)
df_test.isnull().values.any()

False

In [24]:
df_test.head()

   Id  Store  DayOfWeek        Date Open  Promo StateHoliday  SchoolHoliday
0   1      1          4  2015-09-17  1.0      1            0              0
1   2      3          4  2015-09-17  1.0      1            0              0
2   3      7          4  2015-09-17  1.0      1            0              0
3   4      8          4  2015-09-17  1.0      1            0              0
4   5      9          4  2015-09-17  1.0      1            0              0

In [27]:
# Filling the missing values with 
df_store['Promo2SinceWeek'].fillna(df_store['Promo2SinceWeek'].mode, inplace = True)
df_store['Promo2SinceYear'].fillna(df_store['Promo2SinceYear'].mode, inplace = True)
df_store['PromoInterval'].fillna(df_store['PromoInterval'].mode, inplace = True)
df_store.isnull().values.any()

True

In [28]:
# impute the missing values in store data
df_store['CompetitionOpenSinceMonth'].fillna(df_store['CompetitionOpenSinceMonth'].mode, inplace = True)
df_store['CompetitionOpenSinceYear'].fillna(df_store['CompetitionOpenSinceYear'].mode, inplace = True)
df_store['CompetitionDistance'].fillna(df_store['CompetitionDistance'].median(), inplace = True)
df_store.isnull().values.any()

False

In [29]:
# Merging df train and df store
store_train = pd.merge(df_train, df_store, how = 'inner', on = 'Store')

In [30]:
store_train.groupby('StoreType')['Customers', 'Sales'].sum()

<ipython-input-30-5222cd9f3be2>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  store_train.groupby('StoreType')['Customers', 'Sales'].sum()

           Customers       Sales
StoreType
a          363541434  3165334859
b           31465621   159231395
c           92129705   783221426
d          156904995  1765392943

In [ ]:
# Create a Day of Week feature
store_train['day_of_week'] = store_train['Date'].dt.day_name()

In [ ]:
store_train.columns

In [ ]:
#correlation matrix
corrMatrix= store_train.corr()
f, ax = plt.subplots(figsize=(16, 14))
res=sns.heatmap(corrMatrix,cmap="Blues",annot=True,fmt='.4f',annot_kws={"size":12})
res.set_xticklabels(res.get_xmajorticklabels(), fontsize = 12)
res.set_yticklabels(res.get_ymajorticklabels(), fontsize = 12)
plt.show()

In [ ]:
len(df_train.Store.value_counts())

In [ ]:
stores = df_train.groupby('Store')

In [ ]:
stores_total = stores['Sales'].sum()

In [ ]:
stores_total.head()

In [ ]:
def plot_hist(df:pd.DataFrame, column:str, color:str)->None:
    sns.displot(data=df, x=column, color=color, height=7, aspect=2)
    plt.title(f'Distribution of {column}', size=20, fontweight='bold')
    plt.xticks(rotation=90)
    plt.show()

def plot_count(df:pd.DataFrame, column:str) -> None:
    plt.figure(figsize=(12, 7))
    sns.countplot(data=df, x=column)
    plt.xticks(rotation=90)
    plt.title(f'Distribution of {column}', size=20, fontweight='bold')
    plt.show()

def plot_counts(df:pd.DataFrame, column1:str) -> None:
    plt.figure(figsize=(4, 2))
    sns.countplot(data=df, x=column1)
    plt.xticks(rotation=90)
    plt.title(f'Distribution of {column1}', size=20, fontweight='bold')
    plt.show()

In [ ]:
train_store = pd.merge(df_train, df_store, how = 'inner', on = 'Store')

In [ ]:
week_day_df = store_train.groupby('day_of_week')

In [ ]:
week_day_df['Customers'].value_counts()

In [ ]:
df_train.columns

In [ ]:
df_test.columns

In [ ]:
train_promo = df_train.Promo
test_promo = df_test.Promo
promo = pd.DataFrame()
promo['train promo'] = df_train.Promo
promo['test promo'] = df_test.Promo

In [ ]:
promo.head()

In [ ]:
# Distribution of train promotion
plot_counts(promo, 'train promo')

In [ ]:
# Distribution of test promotion
plot_counts(promo, 'test promo')

In [ ]:
(promo['test promo'].value_counts().tolist()[0]/promo['test promo'].value_counts().tolist()[1],
promo['train promo'].value_counts().tolist()[0]/promo['train promo'].value_counts().tolist()[1])

In [ ]:
len(promo[promo['test promo'] == 0])/len(promo[promo['test promo']==1])

In [ ]:
len(promo[promo['train promo'] == 0])/len(promo[promo['train promo']==1])

In [ ]:
df_train.info()

In [ ]:
#check seasonality for the given store
def seasonality(store):
    sale = df_train[df_train.Store == store]
    sale = sale[(sale.Year == 2015) | (sale.Year == 2014) | (sale.Year == 2013)]
    sale = sale.sort_values(by = "Date",ascending= False)
    sns.set(rc = {'figure.figsize':(20,8)})
    sns.lineplot(x = sale["Date"], y = sale["Sales"], color = 'red')
    plt.xticks(rotation=90)
    plt.title(f'seasonality of store {store}', size=20, fontweight='bold')
    plt.xlabel('Date', fontsize=18, fontweight = 'bold')
    plt.ylabel('Sales', fontsize=16, fontweight = 'bold')
    plt.show()

In [ ]:
seasonality(3)

In [ ]:
seasonality(100)

In [ ]:
seasonality(501)

In [ ]:
seasonality(1000)

In [ ]:
store_1000 = df_train.groupby('Store').get_group(1000)

In [ ]:
store_1000.head()

In [ ]:
outliers = store_1000[(store_1000['Date']>'2014-07-01') & (store_1000['Date']<'2015-01-30') ]
pre_holiday = df_train[(df_train["Date"]> '2013-12-09') & (df_train["Date"]< '2013-12-22')  ]

In [ ]:
outliers.sample(10)

In [ ]:
outliers['Date'].value_counts()

In [ ]:
#sales behavior before, during and after holidays
pre_holiday = df_train[(df_train["Date"]> '2013-12-09') & (df_train["Date"]< '2013-12-22')  ]

during_holiday= df_train[(df_train["Date"]> '2013-12-22') & (df_train["Date"]< '2013-12-31')  ]

post_holiday = df_train[(df_train["Date"]> '2013-12-31') & (df_train["Date"]< '2014-01-15')  ]

In [ ]:
sns.lineplot(x = pre_holiday["Date"] , y = pre_holiday["Sales"])
sns.lineplot(x = during_holiday["Date"] , y = during_holiday["Sales"])
sns.lineplot(x = post_holiday["Date"] , y = post_holiday["Sales"])
plt.xticks(rotation=90)
plt.xlabel('Date', fontsize=18)
plt.ylabel('Sales', fontsize=16)
plt.title(f'Sales behavior before, during and after Christmas \n', size=20, fontweight='bold')
plt.show()

In [ ]:
# Store with maximum sale count
df_train[df_train["Sales"] == df_train["Sales"].max()]

In [ ]:
# Store with minmum sale count
df_train[df_train["Sales"] == df_train["Sales"].max()]

In [ ]:
sns.set(style="whitegrid")

ax = sns.barplot(x="Month", y="Sales", data=train_store)

In [ ]:
#data extraction
df_train['Date'] = pd.to_datetime(df_train['Date'])
df_train['Year'] = df_train['Date'].dt.year
df_train['Month'] = df_train['Date'].dt.month
df_train['Day'] = df_train['Date'].dt.day
df_train['WeekOfYear'] = df_train['Date'].dt.weekofyear
df_train.head()
df_train_copy=df_train.copy() #for later plots

In [ ]:
print(df_train.shape)
closed_stores = df_train[(df_train['Open'] == 0) & (df_train['Sales'] == 0)].index
df_train.drop(closed_stores,inplace = True)
print(df_train.shape)

In [ ]:
sns.set(style="whitegrid")
ax = sns.barplot(x="Month", y="Sales", data=train_store)

In [ ]:
sns.factorplot(data = df_train_copy, x = 'Month', 
               y = "Customers", 
               col = 'Open', # sales per promo  in cols
               palette = 'plasma',
               hue = 'Open',
               color = "green")
plt.show()

In [ ]:
df_train['Sales'].head()

In [ ]:
#customers trends
sns.factorplot(data = train_store, x = 'Month', y = "Sales", 
               col = 'StoreType', # per store type in cols
               hue = 'StoreType',
               row = 'DayOfWeek', # per day of week in the stores
               )
plt.show()

In [ ]:
sns.barplot(x = df_train["Promo"] , y = df_train["Sales"])
plt.show()

In [ ]:
sns.set(style="whitegrid")
ax = sns.barplot(x="Promo", y="Sales", data=df_train)
plt.show(

In [ ]:
sns.factorplot(data = train_store, x = 'Month', y = "Sales",col = 'Promo')
plt.show()

In [ ]:
sns.factorplot(data = train_store, x = 'Month', y = "Customers",col = 'Promo')
plt.show()

In [ ]:
sns.factorplot(data = train_store, x = 'Month', y = "Sales", 
               col = 'Promo', 
               hue = 'StoreType',
               row = 'StoreType',
               palette = 'plasma'
               )
plt.show()

In [ ]:
#customers trends
sns.factorplot(data = train_store, x = 'Month', y = "Customers", 
               col = 'Promo', # per store type in cols
               hue = 'StoreType',
               row = 'StoreType', # per promo in the store in rows
               )
plt.show()

In [ ]:
sns.factorplot(data = train_store, x = 'Month', y = "Customers", 
               col = 'Promo', # per store type in cols
               hue = 'StoreType',
               row = 'StoreType', # per promo in the store in rows
               )
plt.show()

In [ ]:
# Log data params
mlflow.log_param('data_url Store', data_url)
mlflow.log_param('data_version Store', version[0])
mlflow.log_param('input_rows Store', df_store.shape[0])
mlflow.log_param('input_cols Store', df_store.shape[1])

mlflow.log_param('data_url Train', data_url2)
mlflow.log_param('data_version Train', version[1])
mlflow.log_param('input_rows Train', df_train.shape[0])
mlflow.log_param('input_cols Train', df_train.shape[1])

mlflow.log_param('data_url Test', data_url3)
mlflow.log_param('data_version Test', version[2])
mlflow.log_param('input_rows Test', df_test.shape[0])
mlflow.log_param('input_cols Test', df_test.shape[1])

In [ ]:
!mlflow ui